<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HTML forms</h2>
    <form action="/submit" method="post">
        <label for="Science">Science:</label><br>
        <input type="text" name="science" id="science" value="0"><br>
        <label for="Maths">Maths:</label><br>
        <input type="text" name="maths" id="maths" value="0"><br>
        <label for="C">C:</label><br>
        <input type="text" name="c" id="c" value="0"><br>
        <label for="English">English:</label><br>
        <input type="text" name="english" id="english" value="0"><br>
        <input type="submit" value="Submit" >
    </form>
    <p>click on submit button</p>
</body>
</html>